* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Young Serif", serif;
}

.container {
  padding: 20px;
  margin: 10px;
  border: solid blue 2px;
  background-color: rgb(115, 150, 236);
}

.section__one {
  margin: 10px;
  text-align: center;
 
  margin-bottom: 10px;


}
.section__one__s1::after {
  content: "";
  display: block;
  padding: 5px;
  width: 40%;
  border-bottom: 3px solid #333;  /* Using border instead of height and background */
  margin:  auto;
}

.section__two__card {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2px;

}


.section__two__card img {
  width: 300px;
  height: 300px;

}